<h1><%= t '.header', university: @university.abbreviation %></h1>

<table>
  <tr>
    <th><%= Service.human_attribute_name :name %></th>
    <th><%= Service.human_attribute_name :dependency %></th>
    <th><%= t('.actions') %></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.dependency %></td>
    <td><%= link_to t('.edit'), edit_service_path(service) %></td>
    <td><%= link_to t('.destroy'), service,
                     method: :delete,
                     data: { confirm: t('.destroy_confirmation') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_service'), new_university_service_path(@university) %>
