<%= simple_form_for(@path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <% if @sample.can_edit_header? %>

      <%= f.simple_fields_for(:periodicity) do |periodicity_builder| %>
        <%= periodicity_builder.input :periodicity_type,
          collection: Periodicity.select_options_without_other,
          include_blank: false %>
      <% end -%>
      <%= f.input :taken_at, as: :date,
        discard_day: true,
        order: [:month, :year],
        end_year: Time.now.year %>
    <% else -%>
      <%= render partial: 'periodicity', object: @sample.periodicity %>
      <%= @sample.interval %>
    <% end -%>

    <table class="sample-table table">
      <thead>
        <tr>
          <% @ordered_variables.rest_row_variables.each do |rv| -%>
            <th><%= rv.name %></th>
          <% end -%>
          <th><%= @ordered_variables.main_row_variable.name %></th>
          <% @ordered_variables.column_variable_values.each do |val| -%>
            <th><%= val.value %></th>
          <% end -%>
        </tr>
      </thead>
      <tbody>
        <% i =0 -%>
        <% @ordered_variables.complete_table.each do |row| -%>
          <tr>
            <% row.each do |val| -%>
              <td>
                <% if val.is_a? SampleValue -%>
                  <%= f.simple_fields_for "sample_values_attributes[#{val.persisted? ? val.id : i}]", val do |builder| %>
                    <%= render 'sample_value_form', f: builder %>
                    <% i = i + 1 %>
                  <% end -%>
                <% else %>
                  <%= val.value %>
                <% end -%>
              </td>
            <% end -%>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>

  <div class="form-actions">
    <% if @sample.new_record? -%>
      <p style="color: #c09853" class="text-warning"><%= t '.correct_data' %></p>
    <% end -%>

    <%= f.button :submit %>
  </div>
<% end %>
