<h1>
  <%= t '.header', index: @index.name %>
  <% if can? :new, Sample -%>
    <%= new_link new_index_sample_path(@index) %>
  <% end -%>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Sample.human_attribute_name :taken_at %></th>
      <th><%= t '.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @samples.each do |sample| %>
      <tr>
        <td><%= link_to sample.interval, sample %></td>
        <td>
          <% if can? :edit, sample -%>
            <%= edit_link edit_sample_path(sample) %>
          <% end -%>
          <% if can? :destroy, sample -%>
            <%= destroy_link sample, method: :delete, data: { confirm: t('.destroy_confirmation')} %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to_if can?(:new, Sample), t('.new_sample'), new_index_sample_path(@index), :class => 'btn' do "" end %>
