<h2><%= t '.header', index: @sample.index.name %></h2>
<div class="field">
  <span class="data-label"><%= t '.period' %></span>
  <span class="data"><%= period_for_sample @sample %></span>
</div>
<table class="table">
  <thead>
    <tr>
      <% @ordered_variables.rest_row_variables.each do |rv| -%>
        <th><%= rv.name %></th>
      <% end -%>
      <th><%= @ordered_variables.main_row_variable.name %></th>
      <% @ordered_variables.column_variable.segmentation_variable_values.each do |val| -%>
        <th><%= val.value %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @ordered_variables.complete_table.each do |row| -%>
      <tr>
        <% row.each do |val| -%>
          <td>
            <%= val.value || t('.no_data') %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
