<h2>
  <%= t '.header', index: @sample.index.name %>
  <% if can? :edit, @sample -%>
    <%= edit_link edit_sample_path(@sample) -%>
  <% end -%>
</h2>

<div class="field">
  <span class="data-label"><%= t '.period' %></span>
  <span class="data"><%= @sample.interval %></span>
</div>
<div class="field">
  <span class="data-label"><%= Source.model_name.human count: 1 %></span>
  <span class="data"><%= @sample.source.name %></span>
</div>
<div class="field">
  <span class="data-label"><%= Sample.human_attribute_name :methodology_url %></span>
  <span class="data"><%= link_to t('link'), @sample.methodology_url %></span>
</div>
<table class="table">
  <thead>
    <tr>
      <% @ordered_variables.rest_row_variables.each do |rv| -%>
        <th><%= rv.name %></th>
      <% end -%>
      <th><%= @ordered_variables.main_row_variable.name %></th>
      <% @ordered_variables.column_variable_values.each do |val| -%>
        <th><%= val.value %></th>
      <% end -%>
    </tr>
  </thead>
  <tbody>
    <% @ordered_variables.complete_table.each do |row| -%>
      <tr>
        <% row.each do |val| -%>
          <td>
            <%= val.value || t('.no_data') %>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>
