<%= simple_form_for(@path) do |f| %>
  <%= f.error_notification %>

  <%= f.input :year, as: :course %>

  <fieldset class="activities">
    <legend><%= t '.activities.legend' %></legend>
    <p><%= t '.activities.paragraph' %></p>
    <ol class="options">
      <% AchievedActivity::ACTIVITIES.each do |current_activity| -%>
        <li class="field">
        <% if current_activity == :other_activities -%>
          <%= f.input current_activity,
                      input_html: {rows: 4} %>
        <% else -%>
          <%= f.input current_activity,
                      wrapper: :checkbox,
                      label_html: {:class => 'checkbox'} %>
        <% end -%>
        </li>
      <% end -%>
    </ol>
  </fieldset>

  <fieldset class="studies">
    <legend><%= t '.studies.legend' %></legend>
    <p><%= t '.studies.paragraph' %></p>
    <ol class="options">
      <% AchievedActivity::SOURCES.each do |current_source| -%>
        <li class="field">
        <%= f.input current_source,
                    wrapper: :checkbox,
                    label_html: {:class => 'checkbox'} %>
        </li>
      <% end -%>
    </ol>
  </fieldset>

  <%= f.button :submit %>
<% end %>
