<%= form_for(@path) do |f| %>
  <% if @achieved_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.errors_header' %></h2>

      <ul>
      <% @achieved_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :year %>
    <%= select_years f, :year %>
  </div>

  <fieldset class="activities">
    <legend><%= t '.activities.legend' %></legend>
    <p><%= t '.activities.paragraph' %></p>
    <% AchievedActivity::ACTIVITIES.each do |current_activity| -%>
      <div class="field">
        <% if current_activity == :other_activities -%>
          <%= f.label current_activity %><br>
          <%= f.text_area current_activity %>
        <% else -%>
          <%= f.check_box current_activity %>
          <%= f.label current_activity %>
        <% end -%>
      </div>
    <% end -%>
  </fieldset>

  <fieldset class="sources">
    <legend><%= t '.sources.legend' %></legend>
    <p><%= t '.sources.paragraph' %></p>
    <% AchievedActivity::SOURCES.each do |current_source| -%>
      <div class="field">
        <%= f.check_box current_source %>
        <%= f.label current_source %>
      </div>
    <% end -%>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
