<%= simple_form_for(@path) do |f| %>
  <% if @achieved_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.errors_header' %></h2>

      <ul>
      <% @achieved_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :year, as: :course %>

  <fieldset class="activities">
    <legend><%= t '.activities.legend' %></legend>
    <p><%= t '.activities.paragraph' %></p>
    <ol class="options">
      <% AchievedActivity::ACTIVITIES.each do |current_activity| -%>
        <li class="field">
        <% if current_activity == :other_activities -%>
          <%= f.input current_activity,
                      input_html: {rows: 4} %>
        <% else -%>
          <%= f.input current_activity,
                      wrapper: :checkbox,
                      label_html: {:class => 'checkbox'} %>
        <% end -%>
        </li>
      <% end -%>
    </ol>
  </fieldset>

  <fieldset class="sources">
    <legend><%= t '.sources.legend' %></legend>
    <p><%= t '.sources.paragraph' %></p>
    <ol class="options">
      <% AchievedActivity::SOURCES.each do |current_source| -%>
        <li class="field">
        <%= f.input current_source,
                    wrapper: :checkbox,
                    label_html: {:class => 'checkbox'} %>
        </li>
      <% end -%>
    </ol>
  </fieldset>

  <%= f.button :submit %>
<% end %>
