<h1><%= t '.header', university: @university.abbreviation %></h1>

<table class="table table-hover">
  <tr>
    <th><%= AchievedActivity.human_attribute_name :year %></th>
    <th><%= t '.actions' %></th>
  </tr>

<% @achieved_activities.each do |achieved_activity| %>
  <tr>
    <td><%= link_to achieved_activity.year, achieved_activity %></td>
    <td>
      <% if can? :edit, achieved_activity -%>
        <%= edit_link edit_achieved_activity_path(achieved_activity) %>
      <% end -%>
      <% if can? :destroy, achieved_activity -%>
        <%= destroy_link achieved_activity, method: :delete, data: { confirm: t('.destroy_confirmation')} %>
      <% end -%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= paginate @achieved_activities %>

<%= link_to t('.new_achieved_activity'), new_university_achieved_activity_path(@university), class: 'btn' %>
