<h1>
  <%= t '.header', university: @university.abbreviation, year: @achieved_activity.year %>
  <% if can? :edit, @achieved_activity -%>
    <%= edit_link edit_achieved_activity_path(@achieved_activity) %>
  <% end -%>
</h1>

<div class="activities">
  <h2><%= t '.activities' %></h2>
  <ul class="boolean_list">
    <% AchievedActivity::ACTIVITIES.each do |current_activity| -%>
      <li>
        <%= boolean_value AchievedActivity.human_attribute_name(current_activity),
                          @achieved_activity.send(current_activity) %>
      </li>
    <% end -%>
  </ul>
</div>

<div class="sources">
  <h2><%= t '.sources' %></h2>
  <ul class="boolean_list">
    <% AchievedActivity::SOURCES.each do |current_source| -%>
      <li>
        <%= boolean_value AchievedActivity.human_attribute_name(current_source),
                          @achieved_activity.send(current_source) %>
      </li>
    <% end -%>
  </ul>
</div>
