<h1><%= t '.header', university: @university.abbreviation, year: @achieved_activity.year %></h1>

<div class="activities">
  <h2><%= t '.activities' %></h2>
  <ul>
    <% AchievedActivity::ACTIVITIES.each do |current_activity| -%>
      <li class="field">
        <%= boolean_value AchievedActivity.human_attribute_name(current_activity),
                          @achieved_activity.send(current_activity) %>
      </li>
    <% end -%>
  </ul>
</div>

<div class="sources">
  <h2><%= t '.sources' %></h2>
  <ul>
    <% AchievedActivity::SOURCES.each do |current_source| -%>
      <li class="field">
        <%= boolean_value AchievedActivity.human_attribute_name(current_source),
                          @achieved_activity.send(current_source) %>
      </li>
    <% end -%>
  </ul>
</div>
<% if can? :edit, @achieved_activity -%>
  <%= link_to t('.edit'), edit_achieved_activity_path(@achieved_activity) %> |
<% end -%>
<%= link_to t('.back'), @university %>
