<%= simple_form_for(@path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :basic_question do |builder| %>
      <%= render 'basic_question_form', f: builder %>
    <% end -%>

    <fieldset class="description">
      <legend><%= DatabaseStudy.human_attribute_name :description %></legend>
      <%= f.input :description, input_html: {rows: 6, :class => 'notes'} %>
    </fieldset>

    <%= f.simple_fields_for :study_periodicity_question do |builder| %>
      <%= render 'study_periodicity_question_form', f: builder %>
    <% end -%>

    <fieldset class="database">
      <legend><%= t '.database.legend' %></legend>

      <%= f.input :database, as: :string %>
      <%= f.input :producer, as: :string %>
      <%= f.input :analyzer, as: :string %>
    </fieldset>

    <fieldset class="variables">
      <legend><%= DatabaseStudy.human_attribute_name :variables %></legend>

      <%= f.input :variables,
                  label: t('.variables.explanation'),
                  input_html: {rows: 4, :class => 'notes'} %>
    </fieldset>

    <%= f.simple_fields_for :software_question do |builder| %>
      <%= render 'software_question_form', f: builder %>
    <% end -%>

    <%= f.simple_fields_for :funding_question do |builder| %>
      <%= render 'funding_question_form', f: builder %>
    <% end -%>

    <%= f.simple_fields_for :information_question do |builder| %>
      <%= render 'information_question_form', f: builder %>
    <% end -%>

    <%= render  partial: 'notes_form',
                object: :notes,
                locals: { f: f,
                          klass: DatabaseStudy } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
