<%= simple_form_for(@path) do |f| %>
  <% if @general_frame.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.errors_header', count: @general_frame.errors.count %></h2>

      <ul>
      <% @general_frame.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="explanation"><%= t('.explanation') %></div>

  <%= f.input :year,
    collection: @university.miss_general_frame_years(@general_frame),
    as: :course %>

  <%= optional_numeric_field_for :number_of_campus, f %>

  <fieldset class="graduates">
    <legend><%= t '.graduates.legend' %></legend>
    <p class="explanation"><%= t ('.graduates.explanation') %></p>
    <ol class="options">
      <% GeneralFrame::GRADUATES.each do |field| -%>
        <%= optional_numeric_field_for field, f, :li %>
      <% end -%>
    </ol>
  </fieldset>

  <fieldset class="qualifications">
    <legend><%= t '.qualifications.legend' %></legend>
    <ol class="options">
      <% GeneralFrame::QUALIFICATIONS.each do |field| -%>
        <%= optional_numeric_field_for field, f, :li %>
      <% end -%>
    </ol>
  </fieldset>

  <%= f.button :submit %>
<% end %>
