<h1>
  <%= t('.header', university: @university.abbreviation) %>
  <% if can? :edit, @university -%>
    <%= new_link new_university_general_frame_path(@university) %>
  <% end -%>
</h1>

<table>
  <tr>
    <th><%= GeneralFrame.human_attribute_name :year %></th>
    <th><%= t('.actions') %></th>
  </tr>

<% @general_frames.each do |general_frame| %>
  <%= content_tag_for :tr, general_frame do %>
    <td><%= link_to general_frame.year, general_frame %></td>
    <td>
      <% if can? :edit, general_frame -%>
        <%= edit_link edit_general_frame_path(general_frame) %>
      <% end -%>
      <% if can? :destroy, general_frame -%>
        <%= destroy_link  general_frame,
                          method: :delete,
                          data: { confirm: t('.destroy_confirmation')} %>
      <% end -%>
    </td>
  <% end -%>
<% end %>
</table>

<br />

<%= paginate @general_frames %>

<%= link_to t('.new_general_frame'), new_university_general_frame_path(@university) %>
