<h1><%= t '.header', university: @university.abbreviation, year: @general_frame.year %></h1>

<% if @general_frame.number_of_campus_check -%>
  <div class="field">
    <span class="label"><%= GeneralFrame.human_attribute_name(:number_of_campus) %></span>
    <span class="data"><%= @general_frame.number_of_campus %></span>
  </div>
<% else -%>
  <p><%= t '.no_campus_data' %></p>
<% end -%>

<% ["graduates", "qualifications"].each do |section| -%>
  <div class="<%= section %>">
    <h2><%= t ".#{section}" %></h2>
    <% if @general_frame.send(:"any_#{section.singularize}_data?") -%>
      <ul>
        <% GeneralFrame::const_get(section.upcase).each do |field| -%>
          <% if @general_frame.send(:"#{field}_check") -%>
            <%= data_for @general_frame, field %>
          <% end -%>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t ".no_#{section}_data" %></p>
    <% end -%>
  </div>
<% end -%>

<% if can? :edit, @general_frame -%>
  <%= link_to t('.edit'), edit_general_frame_path(@general_frame) %> |
<% end -%>
<%= link_to t('.back'), university_general_frames_path(@general_frame.university) %>
