<h1>
  <%= t '.header', university: @university.abbreviation, year: @general_frame.year %>
  <% if can? :edit, @general_frame -%>
    <%= edit_link edit_general_frame_path(@general_frame) %>
  <% end -%>
</h1>

<% if @general_frame.number_of_campus_check -%>
  <div class="field">
    <span class="data-label"><%= GeneralFrame.human_attribute_name(:number_of_campus) %></span>
    <span class="data"><%= @general_frame.number_of_campus %></span>
  </div>
<% else -%>
  <p><%= t '.no_campus_data' %></p>
<% end -%>

<% ["graduates", "qualifications"].each do |section| -%>
  <div class="<%= section %>">
    <h3><%= t ".#{section}" %></h3>
    <% if @general_frame.send(:"any_#{section.singularize}_data?") -%>
      <ul>
        <% GeneralFrame::const_get(section.upcase).each do |field| -%>
          <% if @general_frame.send(:"#{field}_check") -%>
            <%= data_for @general_frame, field %>
          <% end -%>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t ".no_#{section}_data" %></p>
    <% end -%>
  </div>
<% end -%>

