<h1>
  <%= t '.header' %>
  <% if can? :new, Index -%>
    <%= new_link new_index_path %>
  <% end -%>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Index.model_name.human count: 2 %></th>
      <th><%= Source.model_name.human count: 2 %></th>
      <th><%= Periodicity.model_name.human count: 2 %></th>
      <th><%= t '.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @indices.each do |index| %>
      <%= index.with_content_tag :tr do %>
        <td><%= link_to index.name, index %></td>
        <td><%= index.source_name %></td>
        <td><%= index.periodicity_type %></td>
        <td>
        	<ul class="actions">
            <% if can? :edit, index -%>
              <li><%= edit_link edit_index_path(index) %></li>
            <% end -%>
        	</ul>
        </td>
      <% end -%>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to_if can?(:new, Index), t('.new_index'), new_index_path, :class => 'btn' do "" end %>
