<h1>
  <%= t '.header' %>
  <% if can? :new, Index -%>
    <%= new_link new_index_path %>
  <% end -%>
</h1>

<ul class="root_indices">
  <% @indices.each do |root_index| -%>
    <%= root_index.with_content_tag :li do %>
      <%= link_to root_index.name, root_index %>
      <ul class="child_indices">
        <%= render partial: 'children_list', locals: {children_indices: root_index.children} %>
      </ul>
    <% end -%>
  <% end -%>
</ul>

<%= link_to_if can?(:new, Index), t('.new_index'), new_index_path, :class => 'btn' do "" end %>
