<h1>
  <%= t '.header' %>
  <% if can? :new, Index -%>
    <%= new_link new_index_path %>
  <% end -%>
</h1>

<ul class="root_indices">
  <% @indices.each do |root_index| -%>
    <%= root_index.with_content_tag :li do %>
      <%= link_to root_index.name, root_index %>
      <ul class="child_indices">
        <% root_index.children.each do |child_index| -%>
          <li class="child_index">
          <%= link_to child_index.name, child_index, :class => 'index_link' %>
        	<ul class="actions">
            <% if can? :edit, child_index -%>
              <li><%= edit_link edit_index_path(child_index), :class => 'index_actions' %></li>
            <% end -%>
        	</ul>
          </li>
        <% end -%>
      </ul>
    <% end -%>
  <% end -%>
</ul>

<%= link_to_if can?(:new, Index), t('.new_index'), new_index_path, :class => 'btn' do "" end %>
