<h1>
  <%= @index.name %>
  <% if can? :edit, @index -%>
    <%= edit_link edit_index_path(@index) %>
  <% end -%>
</h1>

<p class="description"><%= @index.description %></p>

<% unless @index.root? -%>
  <h2>
    <%= t '.informative.header' %>
  </h2>

  <p><%= t '.informative.description' %></p>

<% unless @index.root? -%>
  <h2>
    <%= t '.samples.header' %>
    <% if can? :new, Sample -%>
      <%= new_link new_index_sample_path(@index) %>
    <% end -%>
  </h2>

  <ul class="index-samples">
    <% @index.samples.each do |sample| -%>
      <li><%= link_to sample.taken_at.strftime("%m-%Y"), sample %>
    <% end -%>
  </ul>

  <%= @index.render_source %>

  <%= @index.render_periodicity %>

  <%= @index.render_methodology %>

  <%= @index.render_segmentation_variables %>
<% end -%>
