<h1>
   <%= t '.header' %>
   <% if can? :new, SegmentationVariable -%>
     <%= new_link new_segmentation_variable_path -%>
   <% end -%>
</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= SegmentationVariable.model_name.human count: 1 %></th>
      <th><%= SegmentationVariable.human_attribute_name :segmentation_variable_values_count %></th>
      <th><%= t '.actions' %></th>
    </tr>
  </thead>

  <tbody>
    <% @segmentation_variables.each do |variable| %>
      <%= content_tag_for :tr, variable do %>
      <td>
        <%= link_to variable.name, variable %>
      </td>
      <td>
         <%= variable.segmentation_variable_values.count %>
      </td>
      <td>
        <ul class="actions">
          <% if can? :edit, variable -%>
            <li><%= edit_link edit_segmentation_variable_path(variable) %>
          <% end -%>
        </ul>
      </td>
      <% end -%>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to_if can?(:new, SegmentationVariable), t('.new_variable'), new_segmentation_variable_path, :class => 'btn' do "" end %>
