<h1>
  <%= t '.header' %>
  <% if can? :new, Journal -%>
    <%= new_link new_journal_path %>
  <% end -%>
</h1>

<div id="journals">
  <%= render partial: 'journal', collection: @journals %>
</div>

<% if can? :new, Journal -%>
  <%= simple_form_for Journal.new, html: {multipart: true} do |f| %>
    <%= f.label :file, t('.new_journals') %>
    <%= f.input :file, as: :file, label: false, multiple: true, name: 'journal[file]' %>
  <% end -%>
<% end -%>

<script id="template-upload"type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress">
      <div class="bar"style="width: 0%"></div>
    </div>
  </div>
</script>
