<h1><%= t '.header' %></h1>

<%= simple_form_for(@query, url: activities_search_path, method: :post) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :year, as: :course, selected: Time.now.year - 1 %>

    <p>
    <%= t '.boolean_attributes.filter_text' %>
    </p>
    <% ActivityQuery::BOOLEAN_ATTRIBUTES.each do |boolean_attr| -%>
      <%= f.input boolean_attr,
            as: :boolean,
            wrapper: :checkbox,
            label_html: {:class => 'checkbox' } %>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit,
          value: t('helpers.submit.activity_query.submit') %>
  </div>

<% end -%>
