<div class="<%= model_name_plural %>">
  <h2>
    <%= klass.model_name.human(count: 2) %>
    <% if can? :edit, university -%>
      <%= new_link polymorphic_path([@university, model_name], action: 'new') %>
    <% end -%>
  </h2>
  <p class="explanation"><%= t ".#{model_name_plural}.explanation" %></p>
  <% if objects.any? -%>

    <ul id="<%= model_name_plural %>">
      <% objects.each do |o| -%>
        <%= content_tag_for :li, o do %>
          <%= render  partial: item_partial,
            object: o %>
          <span class="actions">
            <% if can? :edit, o -%>
              <%= edit_link polymorphic_path(o, action: 'edit') %>
            <% end -%>
            <% if can? :destroy, o -%>
              <%= destroy_link  polymorphic_path(o),
                method: :delete,
                data: {confirm: t(".#{model_name_plural}.destroy_confirmation") } %>
            <% end -%>
          </span>
        <% end -%>
      <% end -%>
    </ul>
    <p><%=  link_to t(".#{model_name_plural}.go_to_index"), polymorphic_path([@university, model_name_plural]) %></p>
  <% else -%>
    <p><%= t ".#{model_name_plural}.none_found" %></p>
  <% end -%>
  <%= link_to_if can?(:edit, @university), t(".#{model_name_plural}.new"), polymorphic_path([@university, model_name], action: 'new'), :class => 'btn' do "" end %>
</div>
