<div class="<%= model_name_plural %>">
  <h2>
    <%= klass.model_name.human(count: 2) %>
    <% if can? :edit, university -%>
      <%= new_link polymorphic_path([@university, model_name], action: 'new') %>
    <% end -%>
  </h2>
  <p class="explanation"><%= t ".#{model_name_plural}.explanation" %></p>
  <% if objects.any? -%>

    <%= render partial: 'university_dependent_model_general_list',
        locals: {
                model_name_plural: model_name_plural,
                objects: objects,
                item_partial:  item_partial
        } %>
    <p><%=  link_to t(".#{model_name_plural}.go_to_index"), polymorphic_path([@university, model_name_plural]) %></p>
  <% else -%>
    <p><%= t ".#{model_name_plural}.none_found" %></p>
  <% end -%>
  <%= link_to_if can?(:edit, @university), t(".#{model_name_plural}.new"), polymorphic_path([@university, model_name], action: 'new'), :class => 'btn' do "" end %>
</div>
