<%= simple_form_for :signin, { url: user_sessions_path, method: :post, id: 'login-form'} do |f| %>
  <% if display_errors -%>
    <%= f.error_notification %>
  <% end -%>

  <div class="form-inputs">
    <%= f.input :email, input_html: {:class => 'js-email'} %>
    <%= f.input :password, input_html: {:class => 'js-password'} %>
    <%= f.input :remember_me,
                as: :boolean,
                wrapper: :checkbox,
                label: t('.remember_me'),
                input_html: {:class => 'js-remember'},
                label_html: {:class => 'checkbox'} %>
  </div>

  <div class="form-actions">
    <%= f.button  :submit,
                  :value => t('.submit'),
                  :class => 'js-submit' %>
  </div>
<% end -%>
