<h1><%= t('.header') %></h1>

<%= render partial: 'form',
           locals: {display_errors: true} %>

<h1><%= t('.forgot_question') %></h1>
<%= render 'forgot_password_form' %>

<%= link_to t('.back'), user_sessions_path %>
