<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= t '.errors_header', count: @university.errors.count %></h2>

      <ul>
      <% @university.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :abbreviation %>
    <%= f.text_field :abbreviation %>
  </div>

  <div class="field">
    <%= f.label :province_id, Province.model_name.human %>
    <%= f.select :province_id, Province.for_select %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
