<%= simple_form_for(@university) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, as: :string %>

    <%= f.input :abbreviation, as: :string %>

    <%= f.input :community,
                collection: Community.for_select,
                include_blank: false %>

    <% unless @university.persisted? -%>
      <%= f.input :admin_emails %>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
