<h1><%= t '.header' %></h1>

<table>
  <tr>
    <th><%= University.human_attribute_name :abbreviation %></th>
    <th><%= University.human_attribute_name :name %></th>
    <th><%= Province.model_name.human %></th>
    <th><%= t '.actions' %></th>
  </tr>

<% @universities.each do |university| %>
  <tr>
    <td><%= university.abbreviation %></td>
    <td><%= university.name %></td>
    <td><%= university.province_name %></td>
    <td>
      <ul>
        <% if can? :read, university -%>
          <li><%= link_to t('.show'), university %>
        <% end -%>

        <% if can? :edit, university -%>
          <li><%= link_to t('.edit'), edit_university_path(university) %>
        <% end -%>

        <% if can? :destroy, university -%>
          <li><%= link_to t('.destroy'), university,
                          method: :delete,
                          data: { confirm: t('.destroy_confirmation') } %>
        <% end -%>
      </ul>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_if can?(:new, University), t('.new_university'), new_university_path do "" end %>
