<h1>
  <%= t '.header' %>
  <% if can? :new, University -%>
    <%= new_link new_university_path %>
  <% end -%>
</h1>

<table class="table table-hover">
  <thead>
    <th><%= University.model_name.human count: 1 %></th>
    <th><%= t '.actions' %></th>
  </thead>

  <tbody>
    <% @universities.each do |university| %>
      <%= content_tag_for :tr, university do %>
        <td>
          <%= link_to university.name, university %>
          <span class="university_abbreviation">(<%= university.abbreviation %>)</span>
        </td>
        <td>
          <ul class="actions">
            <% if can? :edit, university -%>
              <li><%= edit_link edit_university_path(university) %>
            <% end -%>

            <% if can? :destroy, university -%>
              <li><%= destroy_link  university, method: :delete,
                                    data: { confirm: t('.destroy_confirmation') } %>
            <% end -%>
          </ul>
        </td>
      <% end -%>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to_if can?(:new, University), t('.new_university'), new_university_path, :class => 'btn' do "" end %>
