<h1>
  <%= @university.name %> <span class="university_abbreviation">(<%= @university.abbreviation %>)</span>
  <% if can? :edit, @university -%>
    <%= edit_link edit_university_path(@university) %>
  <% end -%>
  <% if can? :add_user, @university -%>
    <%= user_link add_user_university_path(@university) %>
  <% end -%>
</h1>

<%= @university.render_services %>

<%= @university.render_achieved_activities %>

<%= @university.render_general_frames %>

<%= @university.render_student_studies %>

<%= @university.render_employer_studies %>

<%= @university.render_public_source_studies %>

<%= @university.render_agreement_source_studies %>

<%= @university.render_database_studies %>

<%= @university.render_other_studies %>


<div class="muted orientative">
  <p><%= APP_CONFIG[:orientative_footer] %></p>
</div>

