<h1>
  <%= @university.name %> <span class="university_abbreviation">(<%= @university.abbreviation %>)</span>
  <% if can? :edit, @university -%>
    <%= edit_link edit_university_path(@university) %>
  <% end -%>
</h1>

<div class="services">
  <h2>
    <%= Service.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_service_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.services.any? -%>

    <ul id="services">
      <% @university.services.each do |service| -%>
        <li>
        <%= service.name %> <span class="dependency"><%= service.dependency %></span>
        <span class="actions">
          <% if can? :edit, service -%>
            <%= edit_link edit_service_path(service), {:class => 'edit'} %>
          <% end -%>
          <% if can? :destroy, service -%>
            <%= destroy_link service_path(service),
              method: :delete,
              data: {confirm: t('.services.destroy_confirmation') },
              :class => 'destroy' %>
          <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.services.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.services.new'), new_university_service_path(@university), :class => 'btn' do "" end %>
</div>

<div class="achieved_activities">
  <h2>
    <%= AchievedActivity.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_achieved_activity_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.achieved_activities.any? -%>

    <ul id="achieved_activities">
      <% @university.achieved_activities.each do |achieved_activity| -%>
        <li>
        <%= link_to achieved_activity.year, achieved_activity %>
        <span class="actions">
          <% if can? :edit, achieved_activity -%>
            <%= edit_link edit_achieved_activity_path(achieved_activity), {:class => 'edit'} %>
          <% end -%>
          <% if can? :destroy, achieved_activity -%>
            <%= destroy_link achieved_activity_path(achieved_activity),
              method: :delete,
              data: {confirm: t('.achieved_activities.destroy_confirmation') },
              :class => 'destroy' %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.achieved_activities.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.achieved_activities.new'), new_university_achieved_activity_path(@university), :class => 'btn' do "" end %>
</div>

<div class="general_frames">
  <h2>
    <%= GeneralFrame.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_general_frame_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.achieved_activities.any? -%>

    <ul id="general_frames">
      <% @university.general_frames.each do |general_frame| -%>
        <li>
        <%= link_to format_for_year(general_frame.year, true),  general_frame %>
        <span class="actions">
          <% if can? :edit, general_frame -%>
            <%= edit_link edit_general_frame_path(general_frame) %>
          <% end -%>
          <% if can? :destroy, general_frame -%>
            <%= destroy_link general_frame_path(general_frame),
              method: :delete,
              data: {confirm: t('.general_frames.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.general_frames.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.general_frames.new'), new_university_general_frame_path(@university), :class => 'btn' do "" end %>
</div>

<div class="student_studies">
  <h2>
    <%= StudentStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_student_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.student_studies.any? -%>

    <ul id="student_studies">
      <% @university.student_studies.each do |student_study| -%>
        <li>
        <%= link_to student_study.basic_question.title, student_study %>
        <span class="actions">
          <% if can? :edit, student_study -%>
            <%= edit_link edit_student_study_path(student_study) %>
          <% end -%>
          <% if can? :destroy, student_study -%>
            <%= destroy_link student_study_path(student_study),
              method: :delete,
              data: {confirm: t('.student_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.student_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.student_studies.new'), new_university_student_study_path(@university), :class => 'btn' do "" end %>
</div>

<div class="employer_studies">
  <h2>
    <%= EmployerStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_employer_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.employer_studies.any? -%>

    <ul id="employer_studies">
      <% @university.employer_studies.each do |employer_study| -%>
        <li>
        <%= link_to employer_study.basic_question.title, employer_study %>
        <span class="actions">
          <% if can? :edit, employer_study -%>
            <%= edit_link edit_employer_study_path(employer_study) %>
          <% end -%>
          <% if can? :destroy, employer_study -%>
            <%= destroy_link employer_study_path(employer_study),
              method: :delete,
              data: {confirm: t('.employer_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.employer_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.employer_studies.new'), new_university_employer_study_path(@university), :class => 'btn' do "" end %>
</div>

<div class="public_source_studies">
  <h2>
    <%= PublicSourceStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_public_source_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.public_source_studies.any? -%>

    <ul id="public_source_studies">
      <% @university.public_source_studies.each do |public_source_study| -%>
        <li>
        <%= link_to public_source_study.basic_question.title, public_source_study %>
        <span class="actions">
          <% if can? :edit, public_source_study -%>
            <%= edit_link edit_public_source_study_path(public_source_study) %>
          <% end -%>
          <% if can? :destroy, public_source_study -%>
            <%= destroy_link public_source_study_path(public_source_study),
              method: :delete,
              data: {confirm: t('.public_source_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.public_source_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.public_source_studies.new'), new_university_public_source_study_path(@university), :class => 'btn' do "" end %>
</div>

<div class="agreement_source_studies">
  <h2>
    <%= AgreementSourceStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_agreement_source_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.agreement_source_studies.any? -%>

    <ul id="agreement_source_studies">
      <% @university.agreement_source_studies.each do |agreement_source_study| -%>
        <li>
        <%= link_to agreement_source_study.basic_question.title, agreement_source_study %>
        <span class="actions">
          <% if can? :edit, agreement_source_study -%>
            <%= edit_link edit_agreement_source_study_path(agreement_source_study) %>
          <% end -%>
          <% if can? :destroy, agreement_source_study -%>
            <%= destroy_link agreement_source_study_path(agreement_source_study),
              method: :delete,
              data: {confirm: t('.agreement_source_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.agreement_source_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.agreement_source_studies.new'), new_university_agreement_source_study_path(@university), :class => 'btn' do "" end %>
</div>

<div class="database_studies">
  <h2>
    <%= DatabaseStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_database_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.database_studies.any? -%>

    <ul id="database_studies">
      <% @university.database_studies.each do |database_study| -%>
        <li>
        <%= link_to database_study.basic_question.title, database_study %>
        <span class="actions">
          <% if can? :edit, database_study -%>
            <%= edit_link edit_database_study_path(database_study) %>
          <% end -%>
          <% if can? :destroy, database_study -%>
            <%= destroy_link database_study_path(database_study),
              method: :delete,
              data: {confirm: t('.database_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.database_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.database_studies.new'), new_university_database_study_path(@university), :class => 'btn' do "" end %>
</div>

<div class="other_studies">
  <h2>
    <%= OtherStudy.model_name.human(count: 2) %>
    <% if can? :edit, @university -%>
      <%= new_link new_university_other_study_path(@university) %>
    <% end -%>
  </h2>
  <% if @university.other_studies.any? -%>

    <ul id="other_studies">
      <% @university.other_studies.each do |employer_study| -%>
        <li>
        <%= link_to other_study.basic_question.title, other_study %>
        <span class="actions">
          <% if can? :edit, other_study -%>
            <%= edit_link edit_other_study_path(other_study) %>
          <% end -%>
          <% if can? :destroy, other_study -%>
            <%= destroy_link other_study_path(other_study),
              method: :delete,
              data: {confirm: t('.other_studies.destroy_confirmation') } %>
            <% end -%>
          </span>
          </li>
        <% end -%>
      </ul>
    <% else -%>
      <p><%= t '.other_studies.none_found' %></p>
    <% end -%>
    <%= link_to_if can?(:edit, @university), t('.other_studies.new'), new_university_employer_study_path(@university), :class => 'btn' do "" end %>
</div>
