<h1><%= @university.name %> (<%= @university.abbreviation %>)</h1>

<% if @university.services.any? -%>
  <h2><%= Service.model_name.human.pluralize %></h2>

  <ul id="services">
    <% @university.services.each do |service| -%>
      <li>
        <%= service.name %> <span class="dependency"><%= service.dependency %></span>
        <span class="actions">
          <% if can? :edit, service -%>
            <%= link_to t('.edit_service'), edit_service_path(service), {:class => 'edit'} %>
          <% end -%>
          <% if can? :destroy, service -%>
            <%= link_to t('.destroy_service'), service_path(service),
                        method: :delete,
                        data: {confirm: t('.destroy_service_confirmation') },
                        :class => 'destroy' %>
          <% end -%>
        </span>
      </li>
    <% end -%>
  </ul>
<% else -%>
  <p><%= t '.no_services' %></p>
<% end -%>

<%= link_to t('.edit'), edit_university_path(@university) %> |
<%= link_to t('.back'), universities_path %>
