<fieldset class="class_year">
  <legend><%= t 'legend', scope: 'study.class_year_question_form' %></legend>

  <div class="field">
    <%= f.label :time_from_graduation_type %>
    <%= f.select :time_from_graduation_type, ClassYearQuestion.select_options %>
  </div>

  <div class="field other">
    <%= f.label :time_from_graduation_other %> <br>
    <%= f.text_area :time_from_graduation_other %>
  </div>

  <%= f.fields_for :class_years do |builder| %>
    <%= render 'class_year_form', f: builder %>
  <% end -%>

  <%= link_to_add_fields t('add_class_year', scope: 'study.class_year_question_form'), f, :class_years %>
</fieldset>
