<fieldset class="class_year">
  <legend><%= t 'legend', scope: 'study.class_year_question_form' %></legend>

  <div class="field">
    <%= f.input :time_from_graduation_type,
                collection: ClassYearQuestion.select_options,
                include_blank: false %>
  </div>

  <div class="field other">
    <%= f.input :time_from_graduation_other,
                input_html: { rows: 4, :class => 'notes' } %>
  </div>

  <%= f.fields_for :class_years do |builder| %>
    <%= render 'class_year_form', f: builder %>
  <% end -%>

  <%= link_to_add_fields t('add_class_year', scope: 'study.class_year_question_form'), f, :class_years %>
</fieldset>
