<fieldset>
  <legend><%= t 'legend', scope: 'study.field_work_question_form' %></legend>
  <ol>
    <li>
    <%= f.input :questionnaire_link, as: :string %>
    </li>

    <li>
    <%= t 'method', scope: 'study.field_work_question_form' %>
    <ol class="options">
      <% [:phone, :email, :internet, :mail, :interview, :focus_group].each do |fw| -%>
        <li>
        <%= f.input fw, wrapper: :checkbox, label_html: { :class => :checkbox } %>
        </li>
      <% end -%>

      <%= render  partial: 'other_collapsable_field',
                  object: :other,
                  locals: { surrounding_tag: "li",
                            f: f } %>

    </ol>
    </li>
  </ol>

</fieldset>
