<fieldset>
  <legend><%= t 'legend', scope: 'study.field_work_question_form' %></legend>
  <ol>
    <li>
    <div class="field">
      <%= f.label :questionnaire_link %> <br>
      <%= f.text_field :questionnaire_link %>
    </div>
    </li>

    <li>
    <%= t 'method', scope: 'study.field_work_question_form' %>
    <ol>
      <% [:phone, :email, :internet, :mail, :interview, :focus_group].each do |fw| -%>
        <li>
        <div class="field">
          <%= f.check_box fw %>
          <%= f.label fw %>
        </div>
        </li>
      <% end -%>

      <%= render  partial: 'other_collapsable_field',
                  object: :other,
                  locals: { surrounding_tag: "li",
                            f: f} %>
    </ol>
    </li>
  </ol>

</fieldset>
