<fieldset class="funding">
  <legend><%= t 'legend', scope: 'study.funding_question_form' %></legend>

  <ol>
    <li>
      <%= t 'state_funding_legend', scope: 'study.funding_question_form' %> <br>
      <ol class="options">
        <li>
        <%= f.input :fixed_state_funding,
                    wrapper: 'checkbox',
                    label_html: {:class => 'checkbox'} %>
        </li>
        <li>
        <%= f.input :variable_state_funding,
                    wrapper: 'checkbox',
                    label_html: {:class => 'checkbox'} %>
        </li>
      </ol>
    </li>
    <li>
      <%= t 'private_funding_legend', scope: 'study.funding_question_form' %>
      <ol class="options">
        <li>
        <%= f.input :fixed_private_funding,
                    wrapper: 'checkbox',
                    label_html: {:class => 'checkbox'} %>
        </li>
        <li>
        <%= f.input :variable_private_funding,
                    wrapper: 'checkbox',
                    label_html: {:class => 'checkbox'} %>
        </li>
      </ol>
    </li>
  </ol>
</fieldset>
