<table class="table table-hover">
  <thead>
    <th><%= BasicQuestion.human_attribute_name :title %></th>
    <th><%= BasicQuestion.human_attribute_name :year %></th>
    <th><%= t '.actions' %></th>
  </thead>

  <tbody>
    <% studies.each do |study| %>
      <%= content_tag_for :tr, study do %>
        <td><%=link_to study.basic_question.title, study %></td>
        <td><%= study.basic_question.year %></td>
        <td>
          <ul class="actions">
            <% if can? :edit, study -%>
              <li>
              <%= edit_link polymorphic_path(study, action: :edit) %>
              </li>
            <% end -%>

            <% if can? :destroy, study -%>
              <li>
              <%= destroy_link  study,
                                method: :delete,
                                data: { confirm: t('.destroy_confirmation') } %>
              </li>
            <% end -%>
          </ul>
        </td>
      <% end -%>
    <% end -%>
  </tbody>
</table>

