<fieldset>
  <legend><%= t 'legend', scope: 'study.information_question_form' %></legend>

  <ol>
    <li>
      <%= t 'intern_legend', scope: 'study.information_question_form' %>
      <ol>
        <% InformationQuestion::INTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check" %>
            <%= f.label :"#{field}_check" %> <br>

            <%= f.fields_for :"#{field}_periodicity" do |builder| %>
              <%= render 'periodicity_form', f: builder %>
            <% end -%>
          </li>
        <% end -%>


        <% InformationQuestion::INTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check" %>
            <%= f.label :"#{field}_check" %> <br>

            <%= f.fields_for :"#{field}_periodicity" do |builder| %>
              <%= render 'periodicity_form', f: builder %>
            <% end -%>

            <br>
            <div class="field">
              <%= f.label :"#{field}_description" %><br>
              <%= f.text_area :"#{field}_description" %>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

    <li>
      <%= t 'extern_legend', scope: 'study.information_question_form' %>
      <ol>
        <% InformationQuestion::EXTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check" %>
            <%= f.label :"#{field}_check" %> <br>

            <%= f.fields_for :"#{field}_periodicity" do |builder| %>
              <%= render 'periodicity_form', f: builder %>
            <% end -%>
          </li>
        <% end -%>


        <% InformationQuestion::EXTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check" %>
            <%= f.label :"#{field}_check" %> <br>

            <%= f.fields_for :"#{field}_periodicity" do |builder| %>
              <%= render 'periodicity_form', f: builder %>
            <% end -%>

            <br>
            <div class="field">
              <%= f.label :"#{field}_description" %><br>
              <%= f.text_area :"#{field}_description" %>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

  </ol>

</fieldset>
