<fieldset class="information_question_form">
  <legend><%= t 'legend', scope: 'study.information_question_form' %></legend>

  <ol>
    <li>
      <%= t 'intern_legend', scope: 'study.information_question_form' %>
      <ol>
        <% InformationQuestion::INTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check", "class" => "js-other-change"  %>
            <%= f.label :"#{field}_check" %> <br>

            <div class="js-other-collapsable other-description">
              <%= f.fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>


        <% InformationQuestion::INTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check", "class" => "js-other-change" %>
            <%= f.label :"#{field}_check" %> <br>

            <div class="js-other-collapsable other-description">
              <%= f.fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>

              <br>
              <div class="field">
                <%= f.label :"#{field}_description" %><br>
                <%= f.text_area :"#{field}_description" %>
              </div>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

    <li>
      <%= t 'extern_legend', scope: 'study.information_question_form' %>
      <ol>
        <% InformationQuestion::EXTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check", "class" => "js-other-change"  %>
            <%= f.label :"#{field}_check" %> <br>

            <div class="js-other-collapsable other-description">
              <%= f.fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>


        <% InformationQuestion::EXTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.check_box :"#{field}_check", "class" => "js-other-change"  %>
            <%= f.label :"#{field}_check" %> <br>

            <div class="js-other-collapsable other-description">
              <%= f.fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>

              <br>
              <div class="field">
                <%= f.label :"#{field}_description" %><br>
                <%= f.text_area :"#{field}_description" %>
              </div>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

    <%= f.fields_for :publication_question do |builder| %>
      <%= render 'publication_question_form', f: builder %>
    <% end -%>

  </ol>

</fieldset>
