<fieldset class="information_question">
  <legend><%= t 'legend', scope: 'study.information_question_form' %></legend>

  <ol>
    <li>
      <%= t 'intern_legend', scope: 'study.information_question_form' %>
      <ol class="options">
        <% InformationQuestion::INTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.input :"#{field}_check",
                        wrapper: :checkbox,
                        input_html: {:class => 'js-other-change'},
                        label_html: {:class => 'checkbox'} %>

            <div class="js-other-collapsable other-description">
              <%= f.simple_fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>


        <% InformationQuestion::INTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.input :"#{field}_check",
                        wrapper: :checkbox,
                        input_html: {:class => 'js-other-change'},
                        label_html: {:class => 'checkbox'} %>

            <div class="js-other-collapsable other-description">
              <%= f.input :"#{field}_description",
                          input_html: {rows: 4} %>
              <%= f.simple_fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

    <li>
      <%= t 'extern_legend', scope: 'study.information_question_form' %>
      <ol class="options">
        <% InformationQuestion::EXTERNAL_PUB.each do |field| -%>
          <li class="field">
            <%= f.input :"#{field}_check",
                        wrapper: :checkbox,
                        input_html: {:class => 'js-other-change'},
                        label_html: {:class => 'checkbox'} %>

            <div class="js-other-collapsable other-description">
              <%= f.simple_fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>


        <% InformationQuestion::EXTERNAL_OTHER.each do |field| -%>
          <li class="field">
            <%= f.input :"#{field}_check",
                        wrapper: :checkbox,
                        input_html: {:class => 'js-other-change'},
                        label_html: {:class => 'checkbox'} %>

            <div class="js-other-collapsable other-description">
              <%= f.input :"#{field}_description",
                          input_html: {rows: 4} %>
              <%= f.simple_fields_for :"#{field}_periodicity" do |builder| %>
                <%= render 'periodicity_form', f: builder %>
              <% end -%>
            </div>
          </li>
        <% end -%>
      </ol>
    </li>

    <%= f.simple_fields_for :publication_question do |builder| %>
      <%= render 'publication_question_form', f: builder %>
    <% end -%>

  </ol>

</fieldset>
