<% if surrounding_tag -%>
  <<%= surrounding_tag %>>
<% end -%>
<div class="field other">
  <div class="js-other-change">
    <%= f.check_box "#{other_collapsable_field}_check" %>
    <%= f.label "#{other_collapsable_field}_check" %>
  </div>
  <div class="js-other-collapsable other-description">
    <%= f.label other_collapsable_field %><br>
    <%= f.text_area other_collapsable_field %>
  </div>
</div>
<% if surrounding_tag -%>
  </<%= surrounding_tag %>>
<% end -%>
