<li class="publication">
  <%= t 'legend', scope: 'study.publication_question_form' %>

  <ol class="options">
    <li class="field">
    <%= f.input :with_isbn_check,
                wrapper: :checkbox,
                label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :without_isbn_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :limited_distribution_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :static_web_check,
                  wrapper: :checkbox,
                  input_html: {:class => 'js-other-change'},
                  label_html: {:class => 'checkbox'} %>
      <div class="js-other-collapsable other_description">
        <%= f.input :static_web_url,
                    as: :string %>
      </div>
    </li>

    <li class="field">
      <%= f.input :dynamic_web_check,
                  wrapper: :checkbox,
                  input_html: {:class => 'js-other-change'},
                  label_html: {:class => 'checkbox'} %>
      <div class="js-other-collapsable other-description">
        <%= f.input :dynamic_web_url,
                    as: :string %>
      </div>
    </li>

    <li class="field">
      <%= f.input :pdf_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :multimedia_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :app_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :papers_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <li class="field">
      <%= f.input :thesis_check,
                  wrapper: :checkbox,
                  label_html: {:class => 'checkbox'} %>
    </li>

    <%= render partial: 'other_collapsable_field',
               object: :other,
               locals: { surrounding_tag: "li",
                         f: f} %>


  </ol>
</li>
