<fieldset class="sampling">
  <legend><%= t 'legend', scope: 'study.sample_question_form' %></legend>

  <%= f.input :scope,
              input_html: {rows: 4} %>

  <%= f.input :population,
              input_html: {rows: 4} %>

  <fieldset class="design">
    <legend><%= t 'design_legend', scope: 'study.sample_question_form' %></legend>

    <%= f.input :sampling_option,
                collection: SampleQuestion::SAMPLING_OPTIONS,
                include_blank: false,
                label_method: ->(x) { SampleQuestion.translate_option(x)  } %>
  </fieldset>

  <fieldset class="detailed_information">
    <legend><%= t 'detailed_information_legend', scope: 'study.sample_question_form' %></legend>
    <div class="control-group probabilistic_sampling">
      <%= f.input :sampling_type,
                  input_html: {rows: 4} %>
      <%= f.input :disintegration_level,
                  input_html: {rows: 4} %>
    </div>
    <div class="control-group non_probabilistic_sampling">
      <%= f.input :non_probabilistic_description,
                  input_html: {rows: 4} %>
    </div>

    <div class="control-group no_more_info_needed">
      <%= t '.no_more_info_needed' %>
    </div>
  </fieldset>
</fieldset>
