<fieldset class="periodicity">
  <legend><%= t 'legend', scope: 'study.study_periodicity_question_form' %></legend>

  <div class="field">
    <%= f.label :periodicity %>
    <%= f.select :periodicity, StudyPeriodicityQuestion.select_options %>
  </div>
  <div class="field other">
    <%= f.label :other_description %><br>
    <%= f.text_area :other_description %>
  </div>
</fieldset>
