<table class="table table-hover">
  <thead>
  <tr>
    <th></th>
    <th><%= t 'reports.absolute_value' %></th>
    <th><%= t 'reports.relative_value' %></th>
  </tr>
  </thead>
  <tbody>
  <% ClassYearQuestion.select_options.each do |text, opt| -%>
    <tr>
        <td><%= text %></td>
        <td><%= report.count_by_time_from_graduation[opt] %></td>
        <td><%= report.relative_by_time_from_graduation[opt].call(total) %>%</td>
    </tr>
  <% end -%>
  </tbody>
</table>