<table class="table table-hover">
  <caption><%= t 'study.software_question.legend' %></caption>
  <thead>
  <tr>
    <th></th>
    <th><%= t 'reports.absolute_value' %></th>
    <th><%= t 'reports.relative_value' %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= SoftwareQuestion.human_attribute_name :uses_some %></td>
    <td><%= report.uses_some_count %></td>
    <td><%= report.uses_some_relative total %></td>
  </tr>
  </tbody>
</table>