<!DOCTYPE html>
<html>
<head>
  <title><%= t '.title' %> ></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller.controller_name} #{controller.action_name}" %>">
  <div id="nav">
      <% if current_user -%>
        <%= link_to t('.edit_profile'), edit_user_path(current_user.id) %> |
        <%= link_to t('.logout'), :logout %>
      <% else -%>
        <%= link_to t(".register"), new_user_path %> |
        <%= link_to t(".login"), :login %>
      <% end -%>
  </div>
  <% if flash[:notice] -%>
    <p id="notice"><%= flash[:notice] %></p>
  <% end -%>
<%= yield %>

</body>
</html>
